<form #heroForm="ngForm">
<div class="row">

	<mat-card class="col-12">
		<mat-card-header>
			<mat-card-title> Entitats i espais </mat-card-title>
			<mat-form-field>
		    		<input matInput placeholder="Filter" name="S2" (ngModelChange)="FilterEspaisEntitats($event)" [ngModel] = "Search">
		  	</mat-form-field>
		</mat-card-header>
		<mat-card-content>		
		  <table class="table">		  	 
		  	<tr>		  		
		  		<td>Entitat <span (click)="showEntitat(null)">(+ entitat)</span></td>
		  		<td>Espai</td>		  		
		  	</tr>
		  	<tr *ngFor="let Row of EntitatsEspais.Espais.RowList"
		  	>
		  		<td (click)="showEspai( Row )">
		  			<span>{{Row.Fields.es_Nom}}</span>
			  			<div style="font-size:10px; margin-left:5px;"></div>
		  		</td>	
		  		<td>
		  			<span  (click)="showEntitat( EntitatsEspais.getEntitatById( Row.Fields.es_idAjuntament ) )">{{EntitatsEspais.getEntitatById( Row.Fields.es_idAjuntament ).Fields.e_Nom.Val}}</span>
		  			<span *ngIf="CercaFromContracte" class="link" (click)="addToContract(Row)">(Afegir a contracte)</span>
		  			<span class="link" (click)="showEspai(null, Row.Fields.es_idAjuntament)">+ espai</span>
		  		</td>	  		
		  	</tr>
		  </table>
		
		  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	
		</mat-card-content>
	</mat-card>

</div>
</form>