<form #heroForm="ngForm">
<div class="row">

	<mat-card class="col-12">
		<mat-card-header>
			<mat-card-title> Entitats i espais </mat-card-title>
			<mat-form-field>
		    		<input matInput placeholder="Filter" name="S2" (ngModelChange)="FilterEspaisEntitats($event)" [ngModel] = "Search">
		  	</mat-form-field>
		</mat-card-header>
		<mat-card-content>				
		  <table class="table">		  	 
		  	<tr>		  		
		  		<th>Entitats <span class="link" (click)="showEntitat(null)">+ entitat</span></th>
		  		<th>Espais</th>		  		
		  	</tr>
		  	<tr *ngFor="let Row of EntitatsEspais.Entitats.RowList"
		  	>
		  		<td>
		  			<span class="linkhand" (click)="showEntitat( Row )">{{Row.Fields.e_Nom.Val}}</span>
		  			<span class="link" (click)="showEspai(null, Row.Fields.e_idAjuntament)">+ espai</span>
		  		</td>
		  		<td>		  		 		
			  		<div *ngFor="let E of EntitatsEspais.getEspais( Row.Fields.e_idAjuntament )">
			  			<span (click)="showEspai(E, Row.Fields.e_idAjuntament)"
			  			class="linkhand">{{E.Fields.es_Nom}}</span>
			  			<span *ngIf="CercaFromContracte" class="link" (click)="addToContract(E)">(Afegir a contracte)</span>			  						  						  					  			
			  		</div>	
			  		
			  	</td>		  			  		
		  	</tr>
		  </table>
	
		</mat-card-content>
	</mat-card>

</div>
</form>