<div class="row">
	<mat-card class="col-12">
		<mat-card-header>
			<mat-card-title> Companyies </mat-card-title>
			<mat-form-field>
		    		<input matInput placeholder="Filter">
		  	</mat-form-field>
		</mat-card-header>
		<mat-card-content>		
		  <table class="table">		  	 
		  	<tr *ngFor="let Row of CEP.Espectacles.RowList"		  		
		  	>
		  		<td (click)="showEspectacle( Row )">
		  			<span>{{Row.Fields.ep_Nom}}</span> 
		  			<span style="font-size:10px">{{Row.Fields.ep_TipusEspectacle}}</span>
		  		</td>
		  		<td (click)="showCompanyia( CEP.getCompanyiaById(Row.Fields.ep_idCompanyia) )">
		  			<span>{{CEP.getCompanyiaById(Row.Fields.ep_idCompanyia).Fields.c_Nom}}</span>
		  			<div style="font-size:10px; margin-left:5px;">
		  				{{CEP.getCompanyiaById(Row.Fields.ep_idCompanyia).Fields.c_Responsable}} _ 
		  				{{CEP.getCompanyiaById(Row.Fields.ep_idCompanyia).Fields.c_Telefon}} _ 
		  				{{CEP.getCompanyiaById(Row.Fields.ep_idCompanyia).Fields.c_Email}}</div>
		  		</td>
		  		<td>
		  			<div *ngFor="let P of CEP.getPreusFromEspectacle( Row.Fields.ep_idEspectacle )">{{ P.Fields.p_PreuAC }} _ {{ P.Fields.p_PreuSC }} _ {{ P.Fields.p_Text }}</div>
		  		</td>
		  	</tr>
		  </table>
		
		  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	
		</mat-card-content>
	</mat-card>

</div>