  <mat-tab-group [selectedIndex] = "TabIndex" *ngIf="!FentUnContracte">
	  <mat-tab label="Contractes">
	  	<app-contractes-list
	  		[whenReload] = "whenReload"
	  		(whenNewContracte) = "nouContracte($event)"
	  		(whenNewEspectacle) = "nouEspectacle($event)"
	  		(whenNewFuncio) = "nouFuncio($event)"
	  	></app-contractes-list>
	  </mat-tab>

	  <mat-tab label="Companyies i espectacles">
	  	<app-companyies-espectacles-list
	  		[CercaFromContracte] = false
	  	></app-companyies-espectacles-list>
	  </mat-tab>
	  <mat-tab label="Entitats i espais">
	  	<app-entitats-espais-list
	  		[CercaFromContracte] = false
	  	></app-entitats-espais-list>
	  </mat-tab>
	</mat-tab-group>

  <mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper" *ngIf="FentUnContracte">
    <mat-step>
      <ng-template matStepLabel>Escull espectacle i companyia</ng-template>
          <app-companyies-espectacles-list
          [CercaFromContracte] = true
          (CompanyiaEspectaclePreuForContracte) = "EsculloCompanyiaEspectacle($event)"
        ></app-companyies-espectacles-list>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Escull espai i entitat</ng-template>
      <app-entitats-espais-list
	  		[CercaFromContracte] = true
	  		(EntitatEspaiForContracte) = "EsculloEntitatEspai($event)"
	  	></app-entitats-espais-list>

    </mat-step>
  </mat-horizontal-stepper>
